// Edit html elements here

// This is from http://cssfontstack.com
h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 19px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 20.9px;
}
h3 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

// User generated css

body {
	background-color: $background_color;
	color: $text_color
}

nav {
	width: 60%;
	margin-left: 20%;
	padding: 0.5em;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 2em;
}

p {
	padding-bottom: 1em;
	text-indent: 2em;
}