// Variable Defaults

$background_color: #F0EADA;
$text_color: #262524;
$page_navigation_color: rgba(100, 100, 100, 0.1);

// Import partials.
@import
  "project22/reset",
  "project22/base",
  "project22/layout"
;
